$Raleway: 'Raleway', sans-serif;
$Noto-Sans: 'Noto Sans', sans-serif;
$Titillium-Web: 'Titillium Web', sans-serif;
$semi-bold: 600;
$medium: 500;
$primary_color: #529AD0;
$grey-1_color: #e0e0e0;
$grey-2_color: #9e9e9e;
$grey-3_color: #757575;
$grey-4_color: #424242;

.btn-primary {
    background-color: $primary_color;
    border-color: $primary_color;

    &:hover {
        background-color: darken($color: $primary_color, $amount: 20%);
        border-color: darken($color: $primary_color, $amount: 20%);
    }

    &:focus{
        box-shadow: 0 0 0 0.2rem lighten($color: $primary_color, $amount: 15%);
    }

    &:not(:disabled):not(.disabled):active{
        background-color: darken($color: $primary_color, $amount: 10%);
    }
}

.form-control{

    &:focus {
        box-shadow: 0 0 0 0.2rem lighten($color: $primary_color, $amount: 25%);
    }
}